Repository arvvoid/plugin.video.hbogoeu, pull requests merged in 2019-12, with the labels that each got.

#81 Extend and improve categories
  hbogolib/handler.py
  hbogolib/handlereu.py
  hbogolib/handlersp.py
  resources/language/resource.language.cz_cz/strings.po
  resources/language/resource.language.en_gb/strings.po
  resources/language/resource.language.es_es/strings.po
  resources/language/resource.language.fi_fi/strings.po
  resources/language/resource.language.hr_hr/strings.po
  resources/language/resource.language.hu_hu/strings.po
  resources/language/resource.language.pl_pl/strings.po
  resources/language/resource.language.ro_ro/strings.po
  resources/language/resource.language.se_se/strings.po
  resources/settings.xml
Labels: bug, enhancement

#84 fix: UPC CZ&SK login URL
  hbogolib/constants.py
Labels: bug

#79 UPC CZ (for SK as well) and UPC Romania Fix
  addon.xml
  changelog.md
  hbogolib/constants.py
Labels: Testers wanted, bug, enhancement, help wanted

#88 Sync play status with HBO GO (EU handler)
  hbogolib/handlereu.py
Labels: Testers wanted, WIP, enhancement

#92 Sync play status with HBO GO (EU handler) (#88)
  README.md
  addon.xml
  changelog.md
  hbogolib/base.py
  hbogolib/constants.py
  hbogolib/handlereu.py
  resources/language/resource.language.en_gb/strings.po
  resources/settings.xml
Labels: Testers wanted, WIP, enhancement

#93 Language Updates
  resources/language/resource.language.cz_cz/strings.po
  resources/language/resource.language.en_gb/strings.po
  resources/language/resource.language.es_es/strings.po
  resources/language/resource.language.fi_fi/strings.po
  resources/language/resource.language.hr_hr/strings.po
  resources/language/resource.language.hu_hu/strings.po
  resources/language/resource.language.pl_pl/strings.po
  resources/language/resource.language.ro_ro/strings.po
  resources/language/resource.language.se_se/strings.po
Labels: bug

#94 Optimize play links, use just content_id to avoid losing watched stat…
  hbogolib/base.py
  hbogolib/handler.py
  hbogolib/handlereu.py
  hbogolib/handlersp.py
Labels: Testers wanted, bug, enhancement

#103 Add fix for Telekom Romania (My Account) login
  hbogolib/constants.py
  hbogolib/handlereu.py
Labels: bug
